@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


body{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	background: url(../img/bg-main.jpg) no-repeat;
	background-size: cover;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	color: #b7bacd;
}


/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}


.ba-game {
	flex-basis: 600px;
	/*min-height: 541px;*/
	-webkit-box-shadow: 5px 14px 92px 0px rgba(31,31,31,1);
-moz-box-shadow: 5px 14px 92px 0px rgba(31,31,31,1);
box-shadow: 5px 14px 92px 0px rgba(31,31,31,1);
}

.ba-game__item__head {
	background-color: #2b3040;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/*height: 115px;*/
	font-size: 16px;
	color: #b7bacd;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	width: 33.33%;
	float: left;
	

}

.ba-game__item__head--active, .ba-game__item__head:hover  {
	color: #fbfbfb;
	
}

.ba-game__item__head h3 {
	margin: 10px 0 0;
	padding: 0 20px 32px 20px;
	border-bottom: 2px solid transparent;
}
.ba-game__item__head--active h3, .ba-game__item__head:hover h3 {
	border-bottom: 2px solid #fbfbfb;
}


.ba-game__item__head svg {
	width: 22px;
	height: 22px;
	fill: #b7bacd;
	margin-top: 32px;
}

.ba-game__item__head--active svg, .ba-game__item__head:hover svg{
	fill: #fbfbfb;
}



 
.ba-game__item__main {
	background-color: #212534;
	position: relative;
	min-height: 426px;
}
.ba-information__poster {
	display: inline-block;
	text-align: center;
	padding-right: 35px;
}
.ba-information__poster__img {
	height: 230px;
	width: 160px;
}
.ba-information__poster-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.ba-information__poster__img img {
	position: absolute;
	top: -99999px;
	bottom: -99999px;
	left: -99999px;
	right: -99999px;
	margin: auto;
}

.ba-rating {
	display: inline-block;
	margin-top: 26px;
	}

.ba-rating__item {
	height: 18px;
	width: 140px;
	background: url(../img/star-grey.svg);
	background-repeat: repeat-x;
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;

}

.ba-rating__item li {
	float: left;
	height: 18px;
	/*font-size: 18px;
	padding: 11px;*/
	/*margin: 1px 1px 0 0;*/
	

}

.ba-rating__item li.ba-star--current {
	z-index: 10;
	background: url(../img/star.svg);
	background-repeat: no-repeat;
	width: 20%;
	
}
.ba-rating__item:hover li.ba-star--current {
	background: none;
}
.ba-rating__item li span[class*="ba-star-"] {
	position: absolute;
	z-index: 20;
	display: block;
	cursor: pointer;
	height: 18px;
	width: 28px;
}

.ba-rating__item li span[class*="ba-star-"]:hover{
	left: 0;
	background: url(../img/star.svg);
	z-index: 12;
	
	background-repeat: repeat-x;
	opacity: .5
}

.ba-rating__item li span.ba-star-1 {
	left: 0;
}


.ba-rating__item li span.ba-star-1:hover {
	width: 28px;
}

.ba-rating__item li span.ba-star-2 {
	left: 28px;
}


.ba-rating__item li span.ba-star-2:hover {
	width: 56px;
}


.ba-rating__item li span.ba-star-3 {
	left: 56px;
}


.ba-rating__item li span.ba-star-3:hover {
	width: 84px;
}

.ba-rating__item li span.ba-star-4 {
	left: 84px;
}


.ba-rating__item li span.ba-star-4:hover {
	width: 112px;
}


.ba-rating__item li span.ba-star-5 {
	left: 112px;
}


.ba-rating__item li span.ba-star-5:hover {
	width: 136px;
}

.ba-information__main {
	display: inline-block;
	max-width: 310px;
	color: #b7bacd;
	vertical-align: top;

}
.ba-title {
	display: inline-block;
	float: left;
}
.ba-information__main h2 {
	color: #fff;
	font-size: 32px;
	font-weight: 400;
	margin: 5px 0;
}
.ba-information__release {
	font-size: 14px;
	color: #fdfdfd;
}

.ba-discount {
	color: #fedc3f;
	font-size: 12px;
	margin: 0;
	text-transform: uppercase;
}
.ba-raiting__circle + p {
	margin-bottom: 55px;
 	display: inherit;
	line-height: 22px;
	font-size: 14px;
}

.ba-information__price {
	display: inline-block;
	vertical-align: bottom;
}

.ba-information__price__item {
	color: #fff;
	font-size: 32px;
	margin: 0;
}

.ba-button {
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	background-color: #13e28d;
	text-decoration: none;
	padding: 20px 35px;
	border-radius: 1px;
	float: right;
}
.ba-button:hover {
	color: #212534;
	background-color: rgba(19, 226, 141, .5);
}


.ba-raiting__circle {
	position: relative;
	float: right;
}
.progress{
    width: 75px;
    height: 75px;
    line-height: 65px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #787c9b;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    font-size: 20px;
    color: #aaadbb;
    line-height: 65px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}

.progress.light .progress-bar{
    border-color: #17e488;
}
.progress.light .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}

@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
    
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}





.ba-game__items-wrapper {
	display: none;
	padding: 59px 45px 63px;
}
.ba-game__items-wrapper:not(:first-child) {
	position: absolute;
	left: 0;
	top: 0;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button, svg {
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
transition: fill .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
